.toolbox {
  position: relative;
}

.toolbox-title {
  position: sticky;
  top: 0;
  padding: 2px 6px;
  flex-shrink: 0;
  background: var(--divider-bg);
  color: var(--divider-text);
  font-size: 12px;
  font-weight: bold;
}

.toolbox ul {
  padding: 6px 12px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
}

.function-button {
  width: 100%;
  padding: 5px 12px;
  background: var(--btn-bg);
  border-radius: 4px;
}

.function-button:hover {
  background: var(--btn-hover-bg);
}

.custom-module-title {
  margin-top: 16px;
  border-bottom: 1px solid #f3f3f3;
}

.custom-module-title > span {
  display: inline-block;
  padding: 0 8px;
  line-height: 24px;
  background: var(--tltle-bg);
  font-size: 13px;
}

.module-context-menu {
  position: absolute;
  z-index: 100;
  display: none;
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 4px;
  overflow: hidden;
}

.module-context-menu.visible {
  display: block;
}

.module-context-menu button {
  display: block;
  padding: 2px 12px;
  width: 100%;
  font-size: 13px;
  text-align: left;
}

.module-context-menu button:hover {
  background: var(--btn-hover-bg);
}
