:root {
  --header-height: 20px;
}

body {
  color: var(--text-color);
}

.dark body {
  color: var(--text-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  background: var(--btn-bg);
}

button:hover {
  cursor: pointer;
}

p {
  margin: 0;
}

.main-body {
  width: 100vw;
  height: calc(100vh - 20px);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(193, 193, 193, 0.6);
  border-radius: 1000px;
}
