.vertical-resizable {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
}

.vertical-item {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.vertical-item > * {
  flex: 1;
}

.vertical-divider {
  padding: 2px 6px;
  flex-shrink: 0;
  cursor: row-resize;
  background: var(--divider-bg);
  color: var(--divider-text);
  font-size: 12px;
  font-weight: bold;
}
