ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  background: #fff;
}

button:hover {
  cursor: pointer;
}

p {
  margin: 0;
}

.main-body {
  width: 100vw;
  height: calc(100vh - 20px);
}
