:root {
  --bg-color: #fff;
  --btn-bg: #f5f5f5;
  --btn-hover-bg: #efefef;
  --btn-active-bg: #e1e1e1;
  --btn-disable-bg: #ddd;
  --header-btn-bg: #fff;
  --header-btn-hover-bg: #f1f1f1;
  --toolbox-title-bg: ;
  --divider-bg: #f7f7f7;
  --divider-text: #664;
  --title-bg: #f3f3f3;
  --title-text: #f7f7f7;
}

.dark:root {
  --bg-color: #1d1d1d;
  --btn-bg: #666;
  --btn-hover-bg: #888;
  --btn-active-bg: #555;
  --btn-disable-bg: #888;
  --header-btn-bg: #1d1d1d;
  --header-btn-hover-bg: #666;
  --divider-bg: #555;
  --divider-text: #efefef;
  --title-bg: #5f5f5f;
  --title-text: #fefefe;
}

body {
  color: #333;
}

.dark body {
  color: #eee;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  background: var(--btn-bg);
}

button:hover {
  cursor: pointer;
}

p {
  margin: 0;
}

.main-body {
  width: 100vw;
  height: calc(100vh - 20px);
}
